In [16]:
#Challenge 6 (Import the dependencies).
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [17]:
#Challenge 6 (Store the CSV you saved created in part one into a DataFrame).
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (Inches),Snow (Inches)
0,0,Mar Del Plata,AR,-38.00,-57.56,55.00,50,51,24.16,broken clouds,0.00,0
1,1,Jamestown,US,42.10,-79.24,69.01,93,90,23.04,heavy intensity rain,4.06,0
2,2,Nyandoma,RU,61.67,40.20,62.17,97,100,9.89,light rain,0.13,0
3,3,Albany,US,42.60,-73.97,89.01,70,48,4.00,light rain,0.19,0
4,4,Aden,YE,12.78,45.04,89.28,69,80,8.90,broken clouds,0.00,0

In [18]:
#Challenge 6  (Ask the customer to add a minimum and maximum temperature value)
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [19]:
#Challenge 6  (Ask the customer to add raining and snowing preferences)
rain_input = str(input("Do you want it to be raining? (yes/no) "))
snow_input = str(input("Do you want it to be snowing? (yes/no) "))

In [20]:
# Challenge 6 (Filter the dataset to find the cities that fit the criteria)
if rain_input == "yes" and snow_input =="yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Rain (Inches)"] > 0) & \
                                           (city_data_df["Snow (Inches)"] > 0)]   
elif rain_input == "yes" and snow_input =="no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Rain (Inches)"] > 0) & \
                                           (city_data_df["Snow (Inches)"] == 0)] 
elif rain_input == "no" and snow_input =="no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Rain (Inches)"] == 0) & \
                                           (city_data_df["Snow (Inches)"] == 0)] 
elif rain_input == "no" and snow_input =="yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Rain (Inches)"] == 0) & \
                                           (city_data_df["Snow (Inches)"] > 0)]
else:
    print("Please enter either yes or no response")

In [21]:
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (Inches),Snow (Inches)
0,0,Mar Del Plata,AR,-38.00,-57.56,55.00,50,51,24.16,broken clouds,0.0,0
4,4,Aden,YE,12.78,45.04,89.28,69,80,8.90,broken clouds,0.0,0
6,6,La Roda,ES,39.22,-2.15,87.80,35,1,12.75,clear sky,0.0,0
7,7,La Ronge,CA,55.10,-105.28,71.60,56,75,14.99,broken clouds,0.0,0
8,8,Kapaa,US,22.08,-159.32,80.60,69,40,16.11,scattered clouds,0.0,0
9,9,Brigantine,US,39.41,-74.36,84.20,74,1,8.05,clear sky,0.0,0
10,10,Fortuna,US,40.60,-124.16,63.00,93,90,12.75,overcast clouds,0.0,0
11,11,Nouadhibou,MR,20.93,-17.03,75.20,69,0,20.80,sand,0.0,0
13,13,Khani,GE,41.96,42.96,73.40,88,75,2.24,broken clouds,0.0,0
14,14,Khilok,RU,51.37,110.47,56.10,91,59,2.68,broken clouds,0.0,0

In [22]:
#Challenge 6 (Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and current weather)
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mar Del Plata,AR,55.00,broken clouds,-38.00,-57.56,
4,Aden,YE,89.28,broken clouds,12.78,45.04,
6,La Roda,ES,87.80,clear sky,39.22,-2.15,
7,La Ronge,CA,71.60,broken clouds,55.10,-105.28,
8,Kapaa,US,80.60,scattered clouds,22.08,-159.32,
9,Brigantine,US,84.20,clear sky,39.41,-74.36,
10,Fortuna,US,63.00,overcast clouds,40.60,-124.16,
11,Nouadhibou,MR,75.20,sand,20.93,-17.03,
13,Khani,GE,73.40,broken clouds,41.96,42.96,
14,Khilok,RU,56.10,broken clouds,51.37,110.47,

In [23]:
# Challenge 6 (Set parameters to search for a hotel).
params = {
    "radius": 6000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

In [24]:
# Challenge 6 (Dependencies and Setup)
import requests
import gmaps

# Import API key
from config import g_key

In [25]:
# Challenge 6  (Configure gmaps to use your Google API key)
gmaps.configure(api_key=g_key)

In [26]:
#Challenge 6
for index, row in hotel_df.iterrows():
    # Latitude and Longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Location key
    params["location"] = f"{lat},{lng}"

    # term "lodging" 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON
    hotels = requests.get(base_url, params=params).json()
    # First Hotel
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mar Del Plata,AR,55.00,broken clouds,-38.00,-57.56,Gran Hotel Mar del Plata habitaciones
4,Aden,YE,89.28,broken clouds,12.78,45.04,Sama Emirate Hotel
6,La Roda,ES,87.80,clear sky,39.22,-2.15,Restaurante El Sueño de Jemik
7,La Ronge,CA,71.60,broken clouds,55.10,-105.28,Northland Motor Hotel
8,Kapaa,US,80.60,scattered clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,Brigantine,US,84.20,clear sky,39.41,-74.36,Legacy Vacation Resort Brigantine Beach
10,Fortuna,US,63.00,overcast clouds,40.60,-124.16,Super 8 by Wyndham Fortuna
11,Nouadhibou,MR,75.20,sand,20.93,-17.03,El Medina
13,Khani,GE,73.40,broken clouds,41.96,42.96,Nino village
14,Khilok,RU,56.10,broken clouds,51.37,110.47,Гостиница ВИОЛА

In [28]:
# Challenge 6 (Add a heatmap of temperature for the vacation each city)
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# Fig
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

In [30]:
#Challenge 6 Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Challenge 6 Add a heatmap of temperature for the vacation spots and a pop-up marker for city
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
#Challenge 6  
output_data_file = "weather_data/WeatherPy_vacation.csv"
#Challenge 6 Export
hotel_df.to_csv(output_data_file)