In [1]:
# Challenge 6 Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Challenge 6 (Store the CSV you saved created in part one into a DataFrame)
vacation_itinerary_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_itinerary_df.head()
vacation_itinerary_df = vacation_itinerary_df.drop(['Unnamed: 0'], axis = 1)
vacation_itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mar Del Plata,AR,55.00,broken clouds,-38.00,-57.56,Gran Hotel Mar del Plata habitaciones
1,Aden,YE,89.28,broken clouds,12.78,45.04,Sama Emirate Hotel
2,La Roda,ES,87.80,clear sky,39.22,-2.15,Restaurante El Sueño de Jemik
3,La Ronge,CA,71.60,broken clouds,55.10,-105.28,Northland Motor Hotel
4,Kapaa,US,80.60,scattered clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
...,...,...,...,...,...,...,...
412,Half Moon Bay,US,78.01,haze,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
413,Inhambane,MZ,77.00,scattered clouds,-23.86,35.38,Oceano
414,Price,US,89.60,clear sky,39.60,-110.81,National 9 - Price River Inn
415,Kemijarvi,FI,54.10,clear sky,66.71,27.43,Hotelli Kemijärvi
416,Tianpeng,CN,79.00,overcast clouds,30.99,103.94,Shuangliu Love Home Business Hotel

In [4]:
#Challenge 6 (Create separate DataFrames for each city on the travel route)
Touros_df = vacation_itinerary_df.loc[(vacation_itinerary_df["City"]=="Touros")] 
Cabedelo_df = vacation_itinerary_df.loc[(vacation_itinerary_df["City"]=="Cabedelo")]
Conde_df = vacation_itinerary_df.loc[(vacation_itinerary_df["City"]=="Conde")] 
Olinda_df = vacation_itinerary_df.loc[(vacation_itinerary_df["City"]=="Olinda")]

In [5]:
Touros_df.values
Cabedelo_df.values
Conde_df.values
Olinda_df.values

array([['Olinda', 'BR', 75.2, 'light rain', -8.01, -34.86,
        'Flat Quatro Rodas Olinda']], dtype=object)

In [6]:
#Challenge 6 (Combine the four separate DataFrames for each city into one DataFrame) 
frames = [Touros_df, Cabedelo_df, Conde_df, Olinda_df]
result_df = pd.concat(frames).reset_index(drop=True)
result_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Touros,BR,73.4,light rain,-5.20,-35.46,Casa Palma Azul de praia com piscina
1,Cabedelo,BR,73.4,light rain,-6.98,-34.83,Lua Mansa Pousada
2,Conde,BR,73.4,light rain,-7.26,-34.91,Pousada Beija Flor
3,Olinda,BR,75.2,light rain,-8.01,-34.86,Flat Quatro Rodas Olinda

In [11]:
#Challenge 6 (Use the directions Layer instructions)

Touros = (-5.20, -35.46)
Cabedelo = (-6.98, -34.83)
Conde = (-7.26, -34.91)
Olinda = (-8.01, -34.86)

fig = gmaps.figure()
Touros2Olinda_via_CondeAndOlinda = gmaps.directions_layer(Touros, Olinda, waypoints=[Cabedelo, Conde], travel_mode='DRIVING')
fig.add_layer(Touros2Olinda_via_CondeAndOlinda)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

In [9]:
#Challenge 6 (Store)
hotel_info = [info_box_template.format(**row) for index, row in result_df.iterrows()]

In [10]:
#Challenge 6 (Build marker layer map)
locations = result_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))